:root {
    --magenta: #d81b60;
    --negro: #0b0b0b;
    --dorado: #d4af37;
    --blanco: #ffffff;
}

html,
body {
    height: 100%;
    opacity: 1;
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--blanco);

}

.banner-title {
    color: var(--dorado);
    font-size: 3rem;
    letter-spacing: 0.5px;
    text-align: center;
}

.banner-desc {
    font-size: 3rem;
    margin: 0 1rem 2rem 1rem;
    text-align: center;
}



#qr {
    text-align: center;
    border: 20px solid var(--magenta);
}

.btn {
    letter-spacing: 0.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: none;
    border-radius: 12px;
    padding: 2rem 3rem;
    /* Ajusta el espacio interno */
    font-weight: 900;
    font-size: 2rem;
    /* Tamaño de texto legible */
    cursor: pointer;
    transition: transform .15s ease, box-shadow .15s ease, background-color .3s ease;
    box-shadow: 0 6px 20px rgba(212, 175, 55, .15);
    width: auto;
    /* Elimina cualquier ancho fijo */
    min-width: 0;
    /* Permite que el ancho sea solo el necesario */
    margin: 1.5rem;
}

.btn-primary {
    background: var(--dorado);
    color: var(--blanco);
}

.btn-primary:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 28px rgba(212, 175, 55, .22);
}

.btn-primary:active {
    transform: translateY(0);
}